<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="ConnectionString2"
         connectionString="AttachDBFileName = '|DataDirectory|\NORTHWND.mdf';Server='(localdb)\MSSQLLocalDB'"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
